@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "TT Firs Neue Trl Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../public/Fonts/TT Firs Neue Trl Regular"),
    url("../public/Fonts/TT Firs Neue Trial Regular.woff") format("woff");
}

:root {
  --body-font-family: "Plus Jakarta Sans", sans-serif;
  --body-text-color: #000;
  --body-bgcolor: #fff;
  --link-color: #3218a6;
  --button-bgcolor: #3218a6;
  --button-text-color: #fff;
  --SecondaryFont: "TT Firs Neue Trl Regular";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
span,
a,
button {
  font-family: var(--SecondaryFont) !important;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font-family) !important;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--body-font-family) !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bgcolor);
  color: var(--button-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#root {
  max-width: 100%;
  width: 100%;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
     color: var(--link-color);
  }
  button {
    background-color: #f9f9f9;
  }
} */

/***************** login page css **********************/

.loginBg {
  background-image: url("./assets/images/bg-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
